.whole{
    display:flex;
    height:100%;
}
.toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: larger;
}
.btn{
background-color: transparent;
border: none;
outline: none;
}
.btn1{
    background-color: transparent;
border: none;
outline: none;
margin-right: 15px;
}
.button{
    border-radius: 50%;
    width:3em;
    height: 3em;
}
.picture{
    width:40px;
    height:40px;
    border-radius: 50%;
    cursor: pointer;
}
.search-bar{
    max-width: 90%;
    border-radius: 6px;
    height: 45px;
    padding: 0px;
    display:flex;
}
.search-button{
    background: transparent;
    border:none;
    outline:none; 
    margin-top: 3px;
}
.in{
    outline: none;
    border: none;
    width: 560px;
    margin-left: 10px;
}
.search{
    display:flex;
    justify-content: center;
    align-items: center;
    width:90%;
}
.pic{
    width:80px;
    height:80px;
    border-radius: 50%;
    margin-top:1em;
    margin-left: 200px;
    margin-right: 200px;
    
}
.p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -22px;
}
 .user{
     display:grid;
     justify-content: center;
     align-items: center;
     padding:6px;
 }
h4{
    font-weight: 500;
    margin:0px;
}
h5{
    font-weight: 400;
    margin:0px;
    padding-bottom: 10px;
}
.signout{
    width:90px;
    height:45px;
    background-color:purple;
    color: white;
    font-weight: 600;
    font-size: medium;
    border-radius: 10px;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.signo{
    padding :10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side{
    border: none;
    width:20%;
}
.add{
    width:100%;
    background: transparent;
    outline: none;
    border: none;
}
.addAcount{
padding-left: 10px;
}
.collab{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15px;
}
.container{
    background: transparent;
   width:100%;
    height:90%;
    top:64px;
    position: absolute;
}

.icon{
    margin-top: 5px;
}
.draw{
    display:flex;
    padding: 10px 5px 10px 5px;
}
.notes{
    padding-left: 30px;
}
.div{
    padding:5px;
}
.word{
    padding: 10px 15px;
    font-size: small;
    font-weight: 500
}
.edit{
    background: white;
    border-radius: 50%;
    padding: 3px;
    font-size: 22px;
}
.changePic{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    cursor: pointer;
}
.mat-dialog-container {
    width: 250px;
    height: 250px
}
