
h1{
    padding-left: 20px;
    font-size: larger;
}
.btn{
background-color: transparent;
border: none;
outline: none;
}
.in{
    width:50em;
    height: 3em;
    border-radius: 8px;
    outline: none;
}
.input{
padding-left: 10em;
}
.button{
    border-radius: 50%;
    width:3em;
    height: 3em;
}
.picture{
    justify-content: flex-end;
  display: flex;
  align-items: flex-end;
}