.whole{
    display:flex;
    height:100%;
}
h1{
    padding-left: 20px;
    font-size: larger;
}
.btn{
background-color: transparent;
border: none;
outline: none;
}
.button{
    border-radius: 50%;
    width:3em;
    height: 3em;
}
.picture{
    width:40px;
    height:40px;
    border-radius: 50%;
}
.search-bar{
    width:650px;
    height:10px;
    border-radius: 6px;
    height: 45px;
    padding: 0px;
    display:flex;
}
.search-button{
    background: transparent;
    border:none;
    outline:none;
    padding: 0%;
    margin-left: 13px
}
.in{
    outline: none;
    border: none;
    width: 560px;
    margin-left: 10px;
}
.search{
    display:flex;
    justify-content: center;
    align-items: center;
    width:90%;
}
.pic{
    width:80px;
    height:80px;
    border-radius: 50%;
    margin:50px;
    padding: 50px;
    
}
.p{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .user{
     display:grid;
     justify-content: center;
     align-items: center;
     padding:6px;
 }
h4{
    font-weight: 500;
    margin:0px;
}
h5{
    font-weight: 400;
    margin:0px;
}
.signout{
    width:90px;
    height:45px;
    background-color:purple;
    color: white;
    font-weight: 600;
    font-size: medium;
    border-radius: 10px;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.signo{
    padding :10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add{
    display:flex;
    justify-content: center;
    align-items: center;
padding-top: 10px;
padding-bottom: 10px;
width:100%;
background: transparent;
outline: none;
border: none;
}
.addAcount{
padding-left: 10px;
}