<div class="whole">
  <mat-toolbar color="primary">
  
    <button class="btn" mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon>
    </button>
        <h1>Fundoo</h1>
  
    <div class="search">
      <mat-card class="search-bar">
        <button class="search-button" id="search-button" mat-icon-button>
          <mat-icon matSuffix class="suffix">search</mat-icon>
        </button>
        <input class="in" type="text" name="search" autocomplete="off" placeholder="search ">
        <button class="search-button" mat-icon-button>
          <mat-icon matSuffix class="search">clear</mat-icon>
        </button>
      </mat-card>
    </div>
  
  
  <div class="set">
    <button mat-icon-button class="btn1" ><mat-icon>list</mat-icon></button>
    
    <button mat-icon-button class="btn" [matMenuTriggerFor]="setting"><mat-icon>settings</mat-icon></button>
  </div>
  <img class="picture" alt ="ProfilePicture" *ngIf="!profilePic" src="/assets/img/No.png" [matMenuTriggerFor]="menu">
    <img class="picture" alt="ProfilePicture" *ngIf="profilePic" src= "{{profilePic}}" [matMenuTriggerFor]="menu" >
    <mat-menu #menu="matMenu">
      <div class ="p">
        <img class="pic" alt="Profile Picture"  *ngIf="!profilePic" src= "/assets/img/No.png">
      <img class="pic" alt="Profile Picture"  *ngIf="profilePic" src= "{{profilePic}}">
    </div>

    <div class="changePic">
    <mat-icon mat-icon-button (click)="ChangeProfile()" class="edit">photo_camera</mat-icon>
    </div>

    <div class="user">
    <h4>{{first}} {{last}}</h4>
  </div>
  <div class="user"><h5>{{email}}</h5></div>
  <mat-divider></mat-divider>
  
  <button mat-button class ="add" (click)="AddCollaborator()">
    <div class="collab">
      <mat-icon >person_add</mat-icon>
      <div class="addAcount">Add another account</div>
    </div>
    
  </button>
  
  <mat-divider></mat-divider>
  <div class="signo">
    <button mat-button class="signout" (click)="logout()">Sign Out</button>
  </div>
  
    </mat-menu>
  
  </mat-toolbar>
  </div>
  
  <mat-menu #setting="matMenu">
<h5>asfdr</h5>
  </mat-menu>

  <mat-drawer-container class="container">
    <mat-drawer #drawer mode="side" class="side" opened>
      <mat-divider class="div"></mat-divider>
     <button mat-button class ="add" (click)="displayNotes()">
       <div class="draw">
       <mat-icon class="icon" >emoji_objects</mat-icon>
       <div class="notes">Notes</div>
      </div>
     </button>

     <button mat-button class ="add" (click)="displayRemainders()">
      <div class="draw">
      <mat-icon class="icon">notifications</mat-icon>
      <div class="notes">Remainders</div>
     </div>
    </button>
    <mat-divider class="div"></mat-divider>
    <div class="word">LABELS</div>

    <div *ngIf="lables">
    <div *ngFor="let onelabel of lables">
      <button mat-button class ="add">
        <div class="draw">
        <mat-icon class="icon">label</mat-icon>
        <div class="notes">{{onelabel.label}}</div>
       </div>
      </button>
      </div>
    </div>

    <button mat-button class ="add">
      <div class="draw">
      <mat-icon class="icon">create</mat-icon>
      <div class="notes">Edit labels</div>
     </div>
    </button>
    <mat-divider class="div"></mat-divider>
    <button mat-button class ="add" (click)="displayArchive()">
      <div class="draw">
      <mat-icon class="icon">archive</mat-icon>
      <div class="notes">Archive</div>
     </div>
    </button>
    <button mat-button class ="add" (click)="displayTrash()">
      <div class="draw">
      <mat-icon class="icon">delete</mat-icon>
      <div class="notes">Trash</div>
     </div>
    </button>

    </mat-drawer>
    <mat-drawer-content>
      <router-outlet > </router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>