<h1 mat-dialog-title>Select profile photo</h1>

<form #formData="ngForm" > 
<input type='file' class="photo" accept="image/*"  (change)="fileChangeEvent($event)" name="file">

<image-cropper #file class = "crop"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)">
</image-cropper>

<div class="align">
    <div class="register" (click)="onNoClick()">cancel</div>
    <div class="button">
      <input type="submit" value="Set as profile photo" #fileUpload (click)="onSelectFile(croppedImage)" id="btn" class="btn">
    </div>
  </div>
</form>

