<div class="whole">
    <h1>
      <span class="purple">F</span>
      <span class="red">u</span>
      <span class="blue">n</span>
      <span class="purple">d</span>
      <span class="red">o</span>
      <span class="green">o</span>
    </h1>
    
    <h2>Sign in</h2>
    
    <div class="in">
        <div class="text">
          <div class="user">Email</div>
            <input type="email" name="email" id="email" class="a">
        </div>
      <div class="text">
        <div class="user">Password</div>
        <input type="password" name="password" id="password" class="a">
      </div>
    </div>

    <a routerLink="forgot">Forgot password?</a>

    <div class="button">
      <input type="button" value="Login" id="btn" class="btn">
    </div>
  
    <a routerLink="register">create account</a>
</div>
