<div class="whole">
<mat-card class="card">
      <h1>
        <span class="purple">F</span>
        <span class="red">u</span>
        <span class="blue">n</span>
        <span class="purple">d</span>
        <span class="red">o</span>
        <span class="green">o</span>
      </h1>
      
      <div *ngIf="userPage">
      <h2>Sign in</h2>
      <h4>Use your Fundoo Account</h4>
      <form [formGroup]="LoginForm">
      <div class="in">
  
        <div>
          <mat-form-field appearance="outline" class="log">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName= "email">      
          </mat-form-field>
        </div>
  
        <div>
          <mat-form-field appearance="outline" class="log">
            <mat-label>password</mat-label>
            <input matInput formControlName= "password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      
        <div class="forgot" routerLink="/forgot">Forgot password?</div>

      <div class="allign">
        <div class="register" routerLink="/serviceCard">create account</div>
        <div class="button">
          <input type="button" (click)="Login()" value="Login" id="btn" class="btn">
        </div>
      </div>
    
      <div class="else">or sign in with</div>
  
      <div class="image">
        <div class="logo">
          <img class="img" alt="Google" (click)="Google()" src="/assets/img/g.png"></div>
          <div class="logo1">
          <img class="img" alt="Facebook" (click)="Facebook()" src="/assets/img/f.png"></div>
      </div>
    </form>
   
      <div class="admin" (click)="AdminPage()" >Admin Login.</div>
    
  </div>


  <div *ngIf="adminPage">
    <h2 class ="singinAdmin">Sign in as Admin.</h2>
 <form [formGroup]="AdminLoginForm">
      <div class="in">
  
        <div>
          <mat-form-field appearance="outline" class="log">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName= "email">      
          </mat-form-field>
        </div>
  
        <div>
          <mat-form-field appearance="outline" class="log">
            <mat-label>password</mat-label>
            <input matInput formControlName= "password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <div class="allign">
        <div class="register" routerLink="/adminRegister">create admin account</div>
        <div class="button">
          <input type="button" (click)="AdminLogin()" value="Login" id="btn" class="btn">
        </div>
      </div>

      <div class="admin1" (click)="UserPage()" >User Login.</div>

    </form>
  </div>

</mat-card>
</div>
