<div class="text">Edit label:</div>
<form [formGroup]="EditLabelForm">

<div class="input">
<input type="text" class="in" placeholder="Create new label" formControlName="CreateLabel">
<button mat-icon-button class="done" (click)="createLabel()"><mat-icon>done </mat-icon></button>
</div>

<div *ngFor="let oneLabel of data">
  <div class="all">
  <mat-icon class="icon">label</mat-icon>
  <input class="data" type="text" value="{{oneLabel.label}}" formControlName="newLabel" (change)="updateLabel(oneLabel)"> 
  <button mat-icon-button (click)="deleteLabel(oneLabel)"> <mat-icon class="icon1">delete</mat-icon></button>
</div>
</div>
</form>
<div class="align">
  <button mat-button class="close" (click)="onNoClick()">Done</button>
</div>