.allIcon{
    display:flex;
    background-color: transparent;
    border-radius: 20px;
    height: 24px;
    outline: none;
    border: 1px solid;
    margin-left: 10px;
    margin-top: 5px;
}
.allLabels{
    display: flex;
    flex-wrap: wrap;
}
.icon2{
    font-size: 20px;
    padding-bottom: 16px;
}
.remainderText{
    font-size: smaller;
    padding-top: 5px;
    padding-left: 2px;
}
.iconbutton{
    width: 25px;
    height: 25px;
}