
<mat-card class ="card">
<form [formGroup]=ForgotForm>
    <h1>
        <span class="purple">F</span>
        <span class="red">u</span>
        <span class="blue">n</span>
        <span class="purple">d</span>
        <span class="red">o</span>
        <span class="green">o</span>
      </h1>

      <h2>Account recovery</h2>

      <div class="allign"> 
        <mat-form-field appearance="outline" class="log">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email">      
        </mat-form-field>
      </div>

      <div class="align">
        <div class="register" routerLink="/login">cancel</div>
        <div class="button">
          <input type="button" value="Submit" (click)="Forgot()" id="btn" class="btn">
        </div>
      </div>

    </form>
    </mat-card>

