<mat-card class ="card">

    <h1>
        <span class="purple">F</span>
        <span class="red">u</span>
        <span class="blue">n</span>
        <span class="purple">d</span>
        <span class="red">o</span>
        <span class="green">o</span>
      </h1>
      <h4>Account recovery</h4>

      <div class="allign"> 
        <mat-form-field appearance="outline" class="log">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email">      
        </mat-form-field>
      </div>
    </mat-card>