.labelAdd{
    outline: none;
    margin-top: 13px;
    border: none;
}
.close{
    height:35px;
    background-color:purple;
    color: white;
    font-size: small;
    border-radius: 10px;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.align{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}