<div class="whole">
  <mat-card class="card" *ngFor="let onenote of message">
    <div (click)="matcardOpen(onenote)">
  <div>
    <img *ngIf="onenote.image" src="{{onenote.image}}">
  </div>
  <div class="title" *ngIf="onenote.title" >{{onenote.title}}</div>
  <div class="title1" *ngIf="!onenote.title" >Title</div>
  <div class="description" *ngIf="onenote.description">{{onenote.description}}</div>
  <div class="description1" *ngIf="!onenote.description">Description</div>
  </div>

</mat-card>
</div>