<div *ngIf="!onenote">
  <div>
    <input mat-input placeholder="Title" class="title" [(ngModel)]="title">
  </div>
  <div>
    <input class="description" mat-input type="text" placeholder="Description" [(ngModel)]="description">
  </div>
</div>

<div *ngIf="onenote">
  <div>
    <input mat-input placeholder="{{onenote.title}}" class="title" [(ngModel)]="title">
  </div>
  <div>
    <input class="description" mat-input type="text" placeholder="Description" [(ngModel)]="description">
  </div>
</div>

<div class="align">
  <app-icons></app-icons>
  <button mat-button class="close" (click)="onNoClick()">Close</button>
  </div>