.button{
    background: transparent;
    border: none;
    outline: none;
    margin: 4px;
}
.buttons{
    margin-top: 10px;
}
.icon{
    font-size: 20px;
}
.heading{
    font-size: 15px;
    margin: 10px 15px;
}
.Reminder_buttons{
    display: grid;
}
.align{
    display:flex;
}
.space{
    padding-left: 80px;
}
.space1{
    padding-left: 89px;
}

.title{
    border: none; 
    outline: none;
    background: transparent;
    width: 22em;
    height: 4em;
    font-size: larger;
}

.description{
    border: none; 
    outline: none;
    background: transparent;
    font-size: initial;
    width:24em;
    height: 3em;
}
.mat-dialog-container {
    margin: 0px;
    padding: 0px;
}
.white{
    background-color: white;
    width:25px;
    height: 25px;
    border-radius: 50%;
    border-color: gray;
    outline: none;
    margin:3px;
    cursor: pointer;
}
.red{
    background-color: red;
    width:25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border:none;
    margin:3px;
    cursor: pointer;
}
.orange{
    background-color: orange;
    width:25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border:none;
    margin:3px;
    cursor: pointer;
}
.green{
    background-color: green;
    width:25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border:none;
    margin:3px;
    cursor: pointer;
}
.yellow{
    background-color: yellow;
    width:25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border:none;
    margin:3px;
    cursor: pointer;
}
.gray{
    background-color: gray;
    width:25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border:none;
    margin:3px;
    cursor: pointer;
}
.purple{
    background-color: rgb(202, 5, 202);
    width:25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border:none;
    margin:3px;
    cursor: pointer;
}
.pink{
    background-color: pink;
    width:25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border:none;
    margin:3px;
    cursor: pointer;
}
.brown{
    background-color: rgb(219, 80, 80);
    width:25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border:none;
    margin:3px;
    cursor: pointer;
}
.indigo{
    background-color:rgb(119, 17, 192);
    width:25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border:none;
    margin:3px;
    cursor: pointer;
}
.teal{
    background-color: teal;
    width:25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border:none;
    margin:3px;
    cursor: pointer;
}
.close{
    width:68px;
    height:35px;
    margin-left: 85px;
    background-color:purple;
    color: white;
    font-weight: 600;
    font-size: medium;
    border-radius: 10px;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}