.button{
    background: transparent;
    border: none;
    outline: none;
    margin: 4px;
}
.buttons{
    margin-top: 10px;
}
.icon{
    font-size: 20px;
}
.heading{
    font-size: 15px;
    margin: 10px 15px;
}
.Reminder_buttons{
    display: grid;
}
.align{
    display:flex;
}
.space{
    padding-left: 80px;
}
.space1{
    padding-left: 89px;
}
.colorIcon{
    width:25px;
    height: 25px;
    border-radius: 50%;
    margin: 3px;
    border-width: 5px;
    border-color: 5px solid black;
}
.colorIcons{
    display: flex;
}
.menu{
    max-width: 100%;
}
