<div class="buttons">
  <button mat-icon-button class="button">
    <mat-icon class="icon" [matMenuTriggerFor]="menu">add_alert</mat-icon>
  </button>
  <button mat-icon-button class="button" >
    <mat-icon class="icon" (click)="AddCollaborator(data)">person_add</mat-icon>
  </button>
  <button mat-icon-button class="button">
    <mat-icon class="icon" >color_lens</mat-icon>
  </button>
  <button mat-icon-button class="button" (click)="addImage()">
    <mat-icon class="icon">add_photo_alternate</mat-icon>
  </button>
  <button mat-icon-button class="button" (click)="addArchive()">
    <mat-icon class="icon">archive</mat-icon>
  </button>
  <button mat-icon-button class="button" (click)="addTrash()">
    <mat-icon class="icon" >delete</mat-icon>
  </button>
  </div>

  <mat-menu #menu="matMenu">
    <div class="heading">Reminder:</div>
  
  <div class="Reminder_buttons">
  <button mat-button class="Reminder_button" (click)="addRemainder8PM()">
    <div class="align">
      <div>Later Today</div>
      <div class="space">8PM</div>
    </div>
  </button>
  <button mat-button class="Reminder_button" (click)="addRemainder8AM()">
    <div class="align">
    <div>Tomorrow</div>
    <div class="space1">8AM</div>
  </div>
  </button>
  </div>
  
  </mat-menu>
  
  <!-- <mat-menu #color="matMenu">
    <input type="button" class="white" (click)="addColor(white)">
  <button class="white" (click)="addColor(white)"></button>
  <button class="red" (click)="addColor(red)"></button>
  <button class="orange" (click)="addColor(orange)"></button>
  <button class="green" (click)="addColor(green)"></button>
  <button class="yellow" (click)="addColor(yellow)"></button>
  <button class="gray" (click)="addColor(gray)"></button>
  <button class="purple" (click)="addColor(purple)"></button>
  <button class="pink" (click)="addColor(pink)"></button>
  <button class="brown" (click)="addColor(brown)"></button>
  <button class="indigo" (click)="addColor(indigo)"></button>
  <button class="teal" (click)="addColor(teal)"></button>
  </mat-menu> -->
  
  