<div class="buttons">
  <button mat-icon-button class="button" matTooltip="Remind me">
    <mat-icon class="icon" [matMenuTriggerFor]="menu">add_alert</mat-icon>
  </button>
  <button mat-icon-button class="button" matTooltip="Collaborator">
    <mat-icon class="icon" (click)="AddCollaborator(data)">person_add</mat-icon>
  </button>
  <button mat-icon-button class="button" matTooltip="Change color">
    <mat-icon class="icon" [matMenuTriggerFor]="color">color_lens</mat-icon>
  </button>
  <button mat-icon-button class="button" (click)="addImage(data)" matTooltip="Add image">
    <mat-icon class="icon">add_photo_alternate</mat-icon>
  </button>
  <button mat-icon-button class="button" *ngIf="!data.archive" (click)="addArchive()" matTooltip="Archive">
    <mat-icon class="icon">archive
    </mat-icon>
  </button>
  <button mat-icon-button class="button" *ngIf="data.archive" (click)="removeArchive()" matTooltip="Unarchive">
    <mat-icon class="icon" >unarchive</mat-icon>
  </button>
  <button mat-icon-button class="button" matTooltip="More">
    <mat-icon class="icon" [matMenuTriggerFor]="more">more_vert</mat-icon>
  </button>
  </div>

  <mat-menu #menu="matMenu">
    <div class="heading">Reminder:</div>
  
  <div class="Reminder_buttons">
  <button mat-button class="Reminder_button" (click)="addRemainder8PM()">
    <div class="align">
      <div>Later Today</div>
      <div class="space">8PM</div>
    </div>
  </button>
  <button mat-button class="Reminder_button" (click)="addRemainder8AM()">
    <div class="align">
    <div>Tomorrow</div>
    <div class="space1">8AM</div>
  </div>
  </button>
  </div>
  </mat-menu>
  
<mat-menu #color="matMenu"  class ="menu">
    <div class="colorIcons">
<div *ngFor="let color of Colors;  index as i">
  <button mat-icon-button class="colorIcon" [style.background-color]="color.colorCode"
        (click)="updatecolor(i, note.id)"  matTooltip="{{color.name}}">
    </button>
</div>
</div>
</mat-menu>

<mat-menu #more="matMenu" >
  <div class="Reminder_buttons">
  <button mat-menu-item (click)="addTrash()">Delete note</button>
  <button mat-menu-item (click)="addLabel()" >Add label</button>
</div>
</mat-menu>

