  .whole {
      display: flex;
      justify-content: center;
      align-items: center;
  }
.card{
    margin: 0 auto;
    float: none; 
    max-width: 50em;
}

h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    margin-top: -10px;
}
.blue{color: blue;}
.red{color:red;}
.purple{color:purple;}
.green{color:green;}

.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

h2{
    margin: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 130;
    font-size: 20px;
    margin-bottom: 10px;
}

.texts{
    display: flex;
    justify-content: space-between;
}

.text1{
    font-size: large;
    font-weight: 500;
    margin: 10px 90px 8px 0px;
}
.text2{
    font-size: large;
    font-weight: 500;
    margin: 10px 0px 8px 90px;
}
.email{
    margin: 5px 16px 5px 0px;
}
.time{
    margin: 5px 0px 5px 16px;
}
.fname{
    font-size: large;
    font-weight: 500;
    margin: 10px 0px 8px 0px;
}
.lname{
    font-size: large;
    font-weight: 500;
    margin: 10px 0px 8px 90px;
}
.mail{
    font-size: large;
    font-weight: 500;
    margin: 10px 0px 8px 100px;
}
.notes{
    font-size: large;
    font-weight: 500;
    margin: 10px 0px 8px 100px;
}
.status{
    font-size: large;
    font-weight: 500;
    margin: 10px 0px 8px 70px;
}
.fname1{
    margin: 5px 0px 5px 0px;
}
.lname1{
    margin: 5px 0px 5px 130px;
}
.mail1{
    margin: 5px 0px 5px 50px;
}
.notes1{
    margin: 5px 0px 5px 40px;
}
.status1{
    margin: 5px 0px 5px 70px;
}
.signout{
    width:90px;
    height:36px;
    background-color:purple;
    color: white;
    font-weight: 600;
    font-size: medium;
    border-radius: 10px;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.signo{
    display: flex;
    justify-content: flex-end;
}