<div class="whole">
<mat-card class ="card">
  <div class="signo">
    <button mat-button class="signout" (click)="logout()">Sign Out</button>
  </div>
  <h1>
    <span class="purple">F</span>
    <span class="red">u</span>
    <span class="blue">n</span>
    <span class="purple">d</span>
    <span class="red">o</span>
    <span class="green">o</span>
  </h1>

<div class="buttons">
  <mat-button-toggle-group >
    <mat-button-toggle (click)="UserStatistics()">User Statistics</mat-button-toggle>
    <mat-button-toggle (click)="UserDetails()">User Details</mat-button-toggle>
  </mat-button-toggle-group>
</div>

  <div *ngIf="statistics">
  <h2>User Statistics</h2>
<mat-divider></mat-divider>

<div class="texts">
<div class="text1">Email</div>
<div class="text2">Login time</div>
</div>

<div *ngFor="let oneUser of userData">
  <div class="texts1">
<div class="email">{{oneUser.email}}</div>
<div class ="time">{{oneUser.loginTime}}</div>
</div>
</div>
</div>

<div *ngIf="details">
  <h2>User Details</h2>
  <mat-divider></mat-divider>
  
  <table>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Number of notes</th> 
      <th>Status</th>
      <th>Card Type</th>
    </tr>

    <tr *ngFor="let oneUser of usersData">
      {{countNotes(oneUser.email)}}
     
      <td>{{oneUser.firstName}}</td>
      <td>{{oneUser.lastName}}</td>
      <td>{{oneUser.email}}</td>
      <td>{{count}}</td>
      <td>{{oneUser.status}}</td>
      <td>{{oneUser.cardType}}</td>
    </tr>
  
</table>

</div>
</mat-card>
</div>