<div class="whole">
<mat-card class ="card">
  <div class="signo">
    <button mat-button class="signout" (click)="logout()">Sign Out</button>
  </div>
  <h1>
    <span class="purple">F</span>
    <span class="red">u</span>
    <span class="blue">n</span>
    <span class="purple">d</span>
    <span class="red">o</span>
    <span class="green">o</span>
  </h1>

  

<div class="buttons">
  <mat-button-toggle-group >
    <mat-button-toggle (click)="UserStatistics()">User Statistics</mat-button-toggle>
    <mat-button-toggle (click)="UserDetails()">User Details</mat-button-toggle>
  </mat-button-toggle-group>
</div>

  <div *ngIf="statistics">
  <h2>User Statistics</h2>
<mat-divider></mat-divider>

<div class="texts">
<div class="text1">Email</div>
<div class="text2">Login time</div>
</div>

<div *ngFor="let oneUser of userData">
  <div class="texts">
<div class="email">{{oneUser.email}}</div>
<div class ="time">{{oneUser.loginTime}}</div>
</div>
</div>
</div>

<div *ngIf="details">
  <h2>User Details</h2>
  <mat-divider></mat-divider>
  
  <div class="texts">
    <div class="fname">First name</div>
    <div class="lname">Last name</div>
    <div class="mail">Email</div>
    <div class="notes">Number of notes</div>
    <div class="status">Status</div>
    </div>

    <div *ngFor="let oneUser of usersData">
      <div>{{countNotes(oneUser.email)}}</div>
      <div class="texts">
        <div class="fname1">{{oneUser.firstName}}</div>
        <div class="lname1">{{oneUser.lastName}}</div>
        <div class="mail1">{{oneUser.email}}</div>
       <div class="notes1">{{count}}</div>
       <div class="status1">{{oneUser.status}}</div>
    </div>
    </div>

</div>
</mat-card>
</div>