h3{
    margin-top:0px;
}
.picture{
    width:40px;
    height:40px;
    border-radius: 50%;
}
h4{
    margin:0px;
    font-size: 15px;
}
p{
    margin:0px;
    font-size: 12px;
}
.userDetails{
    display:flex;
    padding-top: 20px;
}
.user{
    padding-left: 15px;
    padding-top: 4px;
}