.picture{
    width:40px;
    height:40px;
    border-radius: 50%;
}
.email{
    font-size: 14px;
    padding-top: 8px;
    width: 15em;
}
.userDetails{
    display:flex;
    padding-top: 20px;
}
.user{
    padding-left: 15px;
    padding-top: 4px;
}
