<div class="whole" >
  
    <mat-card  class="card" *ngFor="let onenote of message" [style.background-color]="onenote.color">
      <div (click)="matcardOpen(onenote)">
    <div>
      <img *ngIf="onenote.image" class ="image" src="{{onenote.image}}">
    </div>
    <div class="title" *ngIf="onenote.title" >{{onenote.title}}</div>
    <div class="title1" *ngIf="!onenote.title" >Title</div>
    <div class="description" *ngIf="onenote.description">{{onenote.description}}</div>
    <div class="description1" *ngIf="!onenote.description">Description</div>
    </div>
    
    <button class="allIcon" *ngIf="onenote.remainder">
      <mat-icon class="icon1">query_builder</mat-icon>
      <div class="remainderText">{{onenote.remainder}}</div>
        <button mat-icon-button (click)="removeRemainder(onenote.id)" class="iconbutton">
          <mat-icon class="icon2">close</mat-icon>
        </button>
    </button>

    <app-icons [data]="onenote"></app-icons>
    
    </mat-card>

    </div>
