.card{
    width:290px;
    margin:20px;
    padding: 0px;
}
.button{
    background: transparent;
    border: none;
    outline: none;
    margin: 4px;
}
.buttons{
    margin-top: 10px;
}
.icon{
    font-size: 20px;
}
.heading{
    font-size: 15px;
    margin: 10px 15px;
}
.Reminder_buttons{
    display: grid;
}
.align{
    display:flex;
}
.space{
    padding-left: 80px;
}
.space1{
    padding-left: 89px;
}